.header {
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    color: rgb(255,255,255);
    background: rgb(0,0,128);
    margin: 15px;
  }
.header img {
    display: block;
    height: 60px;
    padding-top: 20.15px;
    position: absolute;
    right: 0px;
    padding: 10px;
  }
  
.wrapper {
    width: 960px;
    margin: auto;
    display: flex;  
    justify-content: center; 
    align-self:auto ;
    padding: 10px;
    flex-flow: row wrap;    
  }
  .container {
    display: flex;
    justify-content: center;
  }

.Left{
  flex: 33%;
  width: 300px;
}
.Objective {
  /*width:0.33;*/
  background-color: rgb(255,255,255) ;
  width: 300px;
}

.Picture img{
  width: 300px;
  border-radius: 1px;
  border: 3px solid #01030e;
}

.Experience{
  background: rgb(255,255,255);
  flex: 66%;
  width: 500px;
  height: 500px;
  font-family: 'Balsamiq', cursive;
  color: #2a2a2a;
}

body {
  background: burlywood;
}
